DATABASE_URL=
REDIS_URL=
META_MASTER_TOKEN=
GOOGLE_MCC_TOKEN=
OPENAI_API_KEY=
MODEL_ANALYSIS=gpt-4o-mini
MODEL_STRATEGY=gpt-4o
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
JWT_SECRET_KEY=
JWT_EXPIRE_MINUTES=1440
SUPERADMIN_EMAIL=ferriolimidias@gmail.com
SUPERADMIN_PASSWORD=
ADMIN_WHATSAPP_NUMBER=
